@model IEnumerable<MVS_Store.Models.ViewModels.Cart.CartViewModel>

@{
    ViewBag.Title = "Cart Details";
}

<h2>Cart Details</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="ajaxbg">
        <span>
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </div>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>

            </th>
            <th>
                Total
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.ProductID)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td>
                    <img src="/Images/Uploads/Products/@item.ProductID/Thumbs/@item.Image" />
                </td>
                <td>
                    <a href="#" class="incproduct" data-id="@item.ProductID">+</a>
                    <a href="#" class="decproduct" data-id="@item.ProductID">-</a>
                    <a href="#" class="removeproduct" data-id="@item.ProductID">Remove</a>
                </td>
                <td class="total@(item.ProductID)">
                    @Html.DisplayFor(modelItem => item.Total)$
                </td>
            </tr>
        }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal">
                <b>Grand Total: </b>
                <span>@ViewBag.GrandTotal$</span>
            </td>
        </tr>

    </table>

    <br />
    <a href="#" class="btn btn-primary float-right"></a>
}

@section Scripts
{
    <script src="~/Content/ShopJS/IncrementProductScript.js"></script>
}